<nav class="navbar navbar-inverse bg-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/register" routerLinkActive="active">Register</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Family-tree</a>
    </div>
    <div class="nav navbar-nav navbar-right" *ngIf="isUserLoggedIn()">
      <span class="navbar-text">Welcome, <a routerLink="/" routerLinkActive="active">user</a>!</span>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
