<div class="container">
  <div class="form-group">
    <h1>Login</h1>
    <label>
      Name
    </label>
    <input required type="text" id="userName" placeholder="specify your name" class="form-control" [(ngModel)]="user.userName" #userName="ngModel" name="userName">
    <label>
      Password
    </label>
    <input required minlength="4" type="password" class="form-control" id="password" placeholder="specify your password"
           [(ngModel)]="user.userPassword" #userPassword="ngModel" name="userPassword">
  </div>

  <button type="button" class="btn btn-default" [disabled]="isLoginButtonDisabled() || userName.invalid || userPassword.invalid" (click)="loginUser(user)">Log in</button>
  <button type="button" class="btn btn-default" (click)="getUserById()">Get user by id 3</button>

</div>
