<div class="container">
  <h1>Registration form</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(user, userForm)">
    <div class="form-group">
      <label for="name">Name</label>
      <div>
        <input required class="form-control" id="name" placeholder="specify your name"
               [(ngModel)]="user.userName" #name="ngModel" name="name">

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <div >
        <input required minlength="4" type="password" class="form-control" id="password" placeholder="specify your password"
               [(ngModel)]="user.userPassword" #password="ngModel" name="password">

        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="alert alert-danger">

          <div *ngIf="password.errors.required">
            Password is required.
          </div>

          <div *ngIf="password.errors.minlength">
            Password should have at least 5 characters
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <div >
        <input required email type="email" class="form-control" id="email" placeholder="specify your email"
               [(ngModel)]="user.userEmail" #email="ngModel" name="email">

        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">

          <div *ngIf="email.errors.required">
            Email is required.
          </div>

          <div *ngIf="email.errors.email && !email.errors.required">
            Email is incorrect.
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-default"
            [disabled]="userForm.invalid">Submit</button>
    <button type="button" class="btn btn-default"
            (click)="userForm.resetForm({})">Reset</button>

  </form>
</div>
